/* Reset de estilos básicos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

nav {
  background-color: #444;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
}

nav a:hover {
  background-color: #555;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.container h1 {
  text-align: center;
  margin-bottom: 1.2rem;
  padding-top: 10px;
}

/* Estilos para el formulario */
label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="time"] {
  width: 40%; /* Ajusta el ancho según tus preferencias */
}

button {
  display: inline-block;
  font-size: 1em;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

#dias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.dia {
  display: flex;
  align-items: center;
}

.dia label {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.dia input[type="checkbox"],
.dia input[type="time"] {
  margin-right: 0.5rem;
}

h2 {
  text-align: center;
  font-size: 30px; /* Aumentamos el tamaño de la fuente */
  color: #333;
  margin-bottom: 15px; /* Agregamos un margen inferior */
}

p {
  text-align: justify;
  font-size: 22px; /* Aumentamos el tamaño de la fuente */
  color: #555;
  line-height: 1.5; /* Incrementamos el espaciado entre líneas */
}

/* Estilos para la tabla */
table {
  width: 90%; /* Ancho de la tabla al 100% del contenedor */
  margin: 0 auto;
  
  border-collapse: collapse; /* Colapsar bordes de las celdas */
  font-family: Arial, sans-serif; /* Fuente del texto en la tabla */
}

/* Estilos para las celdas de encabezado */
th {
  text-align: center;
  background-color: #007bff; /* Color de fondo del encabezado */
  color: white; /* Color del texto en el encabezado */
  padding: 8px; /* Espaciado interior en las celdas del encabezado */
  border: 1px solid #ddd;
}

/* Estilos para las celdas de datos */
td {
  border: 1px solid #ddd; /* Borde de 1px alrededor de las celdas de datos */
  padding: 8px; /* Espaciado interior en las celdas de datos */
  text-align: center; /* Alineación del texto en el centro */
}

/* Estilos para las filas impares */
tr:nth-child(odd) {
  background-color: #f2f2f2; /* Color de fondo para filas impares */
}

#btnGuardarContainer {
  text-align: center; /* Centrar horizontalmente el contenido */
  margin-top: 20px; /* Espacio superior para separar del resto de la tabla */
}

#btnGuardar{
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 30px; /* Espaciado interior */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  border-radius: 5px; /* Bordes redondeados */
}

#btnGuardar:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor */
}
